.newscontainer{
    background-color: rgb(245, 245, 245);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.date{
    color: rgb(108, 108, 108);
}

.header{
    color: black;
    padding-bottom: 1rem;
}

.content{
    font-weight: 700;
    color: rgb(123, 123, 123);
}

.line{
    background-color: #ffc400;
    color: #ffc400;
    border: 0.04rem solid #ffc400;
    opacity: 100%;
    margin-right: 4rem;
}

.link a{
    color: #ffc400;
    opacity: 100%;
}

